In [1]:
print('before')
print()
print('after')

before

after

In [2]:
# Notice that we can create the same output with a single command
# that took three commands previously.

print('before', ' ', 'after', sep = '\n') # Here I am combining the three
                                          # positional arguments with the
                                          # keyword argument `sep` for
                                          # separation. The `\n` is the
                                          # new line character or like
                                          # hitting the enter key.

before

after

In [3]:
result = print('example')

example

In [4]:
print('result of print is', result)

result of print is None

In [5]:
result = 'example'

In [6]:
print('result of print is', result)

result of print is example

In [7]:
print(max(1, 2, 3))

3

In [8]:
print(min('a', 'A', '0')) # string are compared based on their ASCII id
                          # https://www.ascii-code.com/

0

In [9]:
# This code returns an error because strings and integers and not be compared

#print(min('a', 'A', 0))

In [10]:
round(3.14)

3

In [11]:
round(3.14, 1)

3.1

In [12]:
round(3.14, 2)

3.14

In [13]:
round

In [14]:
my_string = 'Hello World!'
print(len(my_string))

12

In [15]:
print(my_string.swapcase())

hELLO wORLD!

In [16]:
print(my_string.__len__())

12

In [17]:
# What are the methods that are for the str class object?

dir(my_string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
# a class method is used by chaining a variable to the method with a '.'
# like below, we are asking "Is this srting object in upper case?"
print(my_string.isupper())

False

In [19]:
print(my_string.upper())

HELLO WORLD!

In [20]:
# We can chain multiple methods together

print(my_string.upper().isupper())

True

In [21]:
# The help function can return some text explaining how to use a function
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [22]:
# Writing a function without paratheses shows a simpler format of how to
# use the function.

round

In [23]:
# If we do not close a quote, we get an error
#name = 'Feng

In [24]:
age = 52 # assign the variable 'age' the integer 52
age == 52 # '==' is asking 'Is the variable `age` equivalent to 52?'

True

In [25]:
# All brackets require a closure or they will return an error
#print("hello world"

hello world

In [26]:
# Spelling is crucial. The program has stored the variable `age` and
# will only accept exact matches from the user.

#age = 53
#remaining = 100 - aege # mis-spelled 'age'

In [27]:
import pandas as pd

data_oceania = pd.read_csv('data/gapminder_gdp_oceania.csv')
data_oceania

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911