In [1]:
age = 42
first_name = 'Ahmed'

In [2]:
print(first_name, "is", age, "year's old")

Ahmed is 42 year's old

In [2]:
# This will return an error message 
# because we have not defined the variable `last_name`
# I commented the code out to prevent the script from 'breaking' at this line

#print(last_name)

In [4]:
last_name = 'some_name'
print(last_name)

some_name

In [5]:
age = 42

In [6]:
age = age + 3
age

45

In [7]:
print('Age in three years', age)

Age in three years 45

In [8]:
atom_name = 'helium'
print(atom_name[0])

h

In [9]:
print(atom_name[0:3])

hel

In [10]:
# a python class contains defined properties that can be called
# by add the property to the variable of that class

# Here I am taking the `atom_name` object and using its string class property
# `upper()` to change the string to an upper case string.
atom_name.upper()

'HELIUM'

In [11]:
print(len('helium'))

6

In [12]:
print(len(atom_name))

6

In [13]:
# Python is case sensitive because the variable atom_name was assigned
# the string 'helium', it is not equivalent to (`==`) 'Helium'
atom_name == 'Helium'

False

In [14]:
x = 1
y = 3
swap = x
x = y
y = swap

In [15]:
# Variable names are important. They should be descriptive.
# Be careful re-assigning values to existing variables.
age = 42
age_new = age + 3
print(age, 'and new age is', age_new, sep=' ')

42 and new age is 45

In [16]:
initial = 'left'
position = initial
initial = 'right'

In [17]:
a = '123'

In [18]:
a[1]

'2'

In [19]:
b = str(123)

In [20]:
b[1]

'2'

In [21]:
# This is a good example of descriptive naming of variables!

# Here the function min() which finds the minimum value is being
# changed to an integer of `2`.
# This will prevent the function `min()` from being used later on in
# the script!

m=1
s=30
min = 2
sec = 60
minutes = 3
seconds = 120

ts = m * 60 + s
tot_sec = min * 60 + sec
total_seconds = minutes * 60 + seconds

In [22]:
ts

90

In [23]:
tot_sec

180

In [24]:
# min() will return an error stating the class 'int' is not callable.
# I.e. The function min() has been written over by the variable `min`
# which is an integer, `2`.

#min([1,2,3])

In [25]:
species_name = "Acacia buxifolia"

species_name[2:8]

'acia b'

In [26]:
species_name[11:]

'folia'

In [27]:
species_name[:4]

'Acac'

In [28]:
species_name[:]

'Acacia buxifolia'

In [29]:
species_name[11:-3]

'fo'

In [32]:
species_name[11:13]

'fo'

In [30]:
species_name[-5:-3]

'fo'